GEMINI_API_KEY=your_gemini_key_here

HTTP_PORT_CV_TAILORER=8003
CV_TAILORER_CONTAINER_NAME=cvtailorer

REDIS_MODE=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CONTAINER_NAME=redis

#WIP
MULTIPLE_KEYWORD_EXTRACTORS=false